}
/*Аниме*/
      /*cod*/
  .cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="9253"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="9253"] .image-cutter {
    background: url("https://moe.shikimori.one/system/images/original/122497.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="38691"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="38691"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122500.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="30484"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="30484"] .image-cutter {
    background: url("https://kawai.shikimori.one/system/images/original/122496.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="11577"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="11577"] .image-cutter {
    background: url("https://kawai.shikimori.one/system/images/original/122501.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="33502"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="33502"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122490.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="37779"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="37779"] .image-cutter {
    background: url("https://i.ibb.co/jbNNkQQ/original.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="17265"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="17265"] .image-cutter {
    background: url("https://desu.shikimori.one/system/images/original/122478.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="23321"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="23321"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122460.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="11757"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="11757"] .image-cutter {
    background: url("https://moe.shikimori.one/system/images/original/122502.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="35413"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="35413"] .image-cutter {
    background: url("https://desu.shikimori.one/system/images/original/122503.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="36882"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="36882"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122505.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="4975"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="4975"] .image-cutter {
    background: url("https://moe.shikimori.one/system/images/original/122492.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="32281"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="32281"] .image-cutter {
    background: url("https://kawai.shikimori.one/system/images/original/122486.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="30485"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="30485"] .image-cutter {
    background: url("https://dere.shikimori.one/system/images/original/122479.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="35315"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="35315"] .image-cutter {
    background: url("https://desu.shikimori.one/system/images/original/122483.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="35968"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="35968"] .image-cutter {
    background: url("https://desu.shikimori.one/system/images/original/122508.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="14719"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="14719"] .image-cutter {
    background: url("https://dere.shikimori.one/system/images/original/122489.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="22199"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="22199"] .image-cutter {
    background: url("https://moe.shikimori.one/system/images/original/122512.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="31859"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="31859"] .image-cutter {
    background: url("https://moe.shikimori.one/system/images/original/122477.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="33352"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="33352"] .image-cutter {
    background: url("https://dere.shikimori.one/system/images/original/122459.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="35120"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="35120"] .image-cutter {
    background: url("https://dere.shikimori.one/system/images/original/122509.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="35849"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="35849"] .image-cutter {
    background: url("https://dere.shikimori.one/system/images/original/122504.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="1210"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="1210"] .image-cutter {
    background: url("https://moe.shikimori.one/system/images/original/122482.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="23283"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="23283"] .image-cutter {
    background: url("https://kawai.shikimori.one/system/images/original/122506.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="37982"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="37982"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122510.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="38826"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="38826"] .image-cutter {
    background: url("https://dere.shikimori.one/system/images/original/122499.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="2001"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="2001"] .image-cutter {
    background: url("https://desu.shikimori.one/system/images/original/122493.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="34561"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="34561"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122495.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="36098"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="36098"] .image-cutter {
    background: url("https://moe.shikimori.one/system/images/original/122507.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="35851"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="35851"] .image-cutter {
    background: url("https://desu.shikimori.one/system/images/original/122498.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="31798"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="31798"] .image-cutter {
    background: url("https://kawai.shikimori.one/system/images/original/122481.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="28725"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="28725"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122515.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="34636"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="34636"] .image-cutter {
    background: url("https://kawai.shikimori.one/system/images/original/122511.gif") no-repeat center / cover;
}
.cc-favourites .c-anime[class*="b-catalog_entry"] > a[href*="43299"] img {
    visibility: hidden;
}
.cc-favourites .c-anime a[href*="43299"] .image-cutter {
    background: url("https://desu.shikimori.one/system/images/original/122488.gif") no-repeat center / cover;
}
.cc-favourites .c-manga[class*="b-catalog_entry"] > a[href*="111996"] img {
    visibility: hidden;
}
.cc-favourites .c-manga a[href*="111996"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122525.gif") no-repeat center / cover;
}
