/*Манга*/
    /*cod*/
@media screen and (min-width: 1200px) {
    /*Бог Старшей Школы*/
.cc-favourites .c-manga[class*="b-catalog_entry"] > a[href*="111996"] img {
    visibility: hidden;
}
.cc-favourites .c-manga a[href*="111996"] .image-cutter {
    background: url("https://nyaa.shikimori.one/system/images/original/122525.gif") no-repeat center / cover;
}
.cc-favourites .c-manga a[href*="111996"] .image-decor::before {
    content: "Оценка: 10/10";
}
.cc-favourites .c-manga a[href*="111996"] .image-cutter::before {
    content: "Бог старшей школы";
}
}
